<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966539518920-d2mnb87m2td056o0m1a5h69nbok54mei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966539518920-d2mnb87m2td056o0m1a5h69nbok54mei</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>966539518920-lpcg36r9f3tmd8v74lth524e8soqb693.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqaZpuv2rpHu_HBfoVLMTWlFssOQcyX-E</string>
	<key>GCM_SENDER_ID</key>
	<string>966539518920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterInstagramClone</string>
	<key>PROJECT_ID</key>
	<string>flutter-instagram-clone-6f14d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-instagram-clone-6f14d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:966539518920:ios:701bd8f5949de1c6f616fd</string>
</dict>
</plist>
