<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514145139188-bojft0mjvjk4c6d50rqm4n5kf91vdk7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514145139188-bojft0mjvjk4c6d50rqm4n5kf91vdk7h</string>
	<key>API_KEY</key>
	<string>AIzaSyBvGO_I8Mr3OQ71c0G8iLdVSxU1sT1gSjw</string>
	<key>GCM_SENDER_ID</key>
	<string>514145139188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chatapp-71e4d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chatapp-71e4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514145139188:ios:1b447b5aecd9dd36f7a1a1</string>
</dict>
</plist>